/*GENERAL-------------------------*/
/* Style all the div that are centered vertically aligned*/
.vertical-centered-div {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

/*HOME PAGE------------------------*/
/* Style the row with the first image*/
.slide-row {
    position: relative;
    text-align: center;
}

/* Style the banner image*/
.slide-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

/* Style the div that overlays the banner image*/
.text-overlay {
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(-10%, -10%);
    width: 50%;

    padding: 30px;
    align-items: center;

}

/* Style the image that overlays the banner image*/
.img-overlay {
    position: absolute;
    top: 30%;
    right: 5%;
    transform: translate(-10%, -10%);
    width: 30%;
    height: 60%;

    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    box-shadow: 5px 10px 5px #dedede;
}

/* Style the title of the div that overlays the image*/
.slide-title {
    background-color: #f0a04b;
    color: white;
    width: 100%;
    font-size: 40px;

    text-align: center;
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 5px 10px 5px #dedede;
}

/* Style the text of the div that overlays the image*/
.slide-text {
    width: 100%;
    background-color: #183A1D;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 5px 10px 5px #dedede;
}

/* Style the link in the div that overlays the image*/
.slide-link {
    color: #f0a04b;
    text-decoration: underline;
}

.slide-link:hover {
    color: white;
}

/* Style the divider below the banenr immage */
.divider1-style {
    background-color: #f0a04b;
    height: 50px;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom: 10px #183A1D solid;
    margin-bottom: 20px;
}

/* Style the divider on the bottom of the page */
.divider2-style {
    background-color: #f0a04b;
    height: 50px;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    border-top: 10px #183A1D solid;
    margin-top: 20px;
}

/* Stile the div containing the information */
.information {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
}

/* Style the images in the explanation divs */
.img-div {
    vertical-align: middle;
    width: 100%;
    object-position: center;
    overflow: hidden;

}

/* Style the divs that contains the main information */
.home-div {
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #e1eedd;
    border-radius: 20px;
    width: 70%;
    margin-bottom: 30px;
    box-shadow: 5px 10px 5px #dedede;
}

/*
.card-style {
    margin: 30px;
    padding: 20px;
    box-shadow: 5px 10px 5px #dedede;
    text-align: center;
}*/

/* Style the titles in the divs that contains the main information */
.info-title {
    color: #183A1D;
    font-weight: bold;
}

/* Style the numbers of the steps for using the chat */
.title-number {
    background-color: #183A1D;
    color: white;
    font-weight: bolder;
    border-radius: 100%;
    display: inline-block;
    padding: 20px;
    width: 90px;
    height: 90px;
    text-align: center;
    box-shadow: 5px 10px 5px #dedede;
}

/* Style the titles of the steps for using the chat */
.title-text {
    background-color: #f0a04b;
    color: white;
    font-weight: bold;
    border-radius: 90px;
    display: inline-block;
    width: 20% auto;
    height: 90px;
    padding: 20px;
    margin-left: .5rem;
    text-align: center;
    box-shadow: 5px 10px 5px #dedede;
}

/* Style the numbers and the titles of the steps for using the chat */
.step-title {
    display: flex;
}

/* Style the images of the steps for using the chat */
.step-img {
    margin: 30px;
    border-radius: 30px;
    width: 90%;
    box-shadow: 5px 10px 5px #dedede;
    align-content: center;
}

/* Style the bigger titles */
.title {
    font-size: 60px;
    color: #183A1D;
    font-weight: bolder;
    text-align: center;
}

/*ABOUT ----------------------------------------*/
/* Style the titles and their containers */
.about-title {
    color: black;
    background-color: #e1eedd;
    width: 100%;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 5px 10px 5px #dedede;
}

/* Style the texts and their containers */
.about-text {
    color: white;
    background-color: #f0a04b;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;
    box-shadow: 5px 10px 5px #dedede;
}

/* Style the titles and texts containers */
.about-box {
    margin: 40px;
}

/* Style the main titles */
.about-main-title {
    color: white;
    background-color: #183A1D;
    font-weight: bolder;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 5px 10px 5px #dedede;
}

/* Style the links */
.link-style {
    color: #183A1D;
}

.link-style:hover {
    color: white;
}